<div class="container intro-container" >
    <img width="350" src="https://lh3.googleusercontent.com/Nchx9tQpSWjB7k5gC9oWHDWneZssUr6q4uWo5D-dwN_cRgNJFj741e-0N2jrlOrCvJZ_owBTbySdDIg4Ilh2KZ0X2t8ryzAClvfUhZKklW0-csiDMCj5DOV-96-bHT9jz0RNkQ8ojg=w800" alt="" srcset="">
    <div class="intro-quote" intersectionObserver [intersectionDebounce]="200">
        <span class="first" >Chàng trai bên em năm 18 tuổi nay đã trở thành người đàn ông của đời em, </span> 
        <span class="second"> hôm nay và mãi về sau…</span> 
    </div>
    <img class="sep" src="https://lh3.googleusercontent.com/OQdPOV0zGTO0hOTKa5BvO7QvoZtMjpjllK0qmP4L6RwtgV0YU5y6LYu9JhGVcGTvvCQ7rP3RYi7bXh76k44dYybXnoZoxLXF7YnnWG-roxjbRFR7nBwWABhGg8tXxtZLk35gyeFqXQ=w800" alt="sep" intersectionObserver [intersectionDebounce]="1000">
    <div class="we-section "  intersectionObserver [intersectionDebounce]="500">
        <div class="chu-re-info  ">
            <div class="chu-re-label text-right mr-2">
                <small class="font-weight-bold  text-uppercase">Chú rể</small>
                <h5 style="  font-family:  'Great Vibes', cursive; font-size: 28px;color: #c67a2c;">Xuân Tùng</h5>
            </div>
            <img width="140" height="auto" class="mb-2 bg-gray rounded-circle ava"
                style="border: 1px dashed #aaaaaa;padding: 6px  ;"
                src="https://lh3.googleusercontent.com/_SrmpLSVSw1q1G62fY58Se8lulD4Vb-FPU94rUYMx1xOq3wabl2HLwkm4LXAnu2aqsmXpz0ZXm9OZpxz6JdGDTukE0PeR0-JumV7fdialYgSSXwMJTmFlRPEfJ0zIetJ4ogYzMBbHg=w2400"
                alt="chu-re">
        </div>

        <span class="and">&</span>


        <div class=" co-dau-info">
            <img width="140" height="auto" class="mb-2 bg-gray rounded-circle ava"
                src="https://lh3.googleusercontent.com/1-0jZNko7FynxPz3jG14PeG6IhXOGG3QVenI9lll5_le5Ahe8ahjPHq4g_ircNOi15A2i2XKnK0CmP40SxjJA4xOYQEpYpnh7SZDdBtEhVrDv7Q4KYZ4Quj__OSh05cLf3E_BXw_3Q=w2400"
                alt="co-dau" style="border: 1px dashed #aaaaaa;padding: 6px  ;">
            <div class="co-dau-label text-left ml-2">
                <small class="font-weight-bold text-uppercase">Cô Dâu</small>
                <h5 style="  font-family:  'Great Vibes', cursive; font-size: 28px;color: #c67a2c;">Đinh Hường</h5>
            </div>
        </div>

    </div>

</div>