<div class="container ">
    <h2 intersectionObserver [intersectionDebounce]="200">WEDDING GIFT</h2>
    <div class="text-center mb-5 sep">
        <img class="mb-3" src="/assets/imgs/venz1.png" style="    filter: invert(1);    width: 125px;" alt="" srcset="">
    </div>

    <div class="text-center">
        <div class="card-wrapper ">
            <div class="gift tung">
                <img class="mb-5" width="120px" src="/assets/imgs/bank.svg" alt="" srcset="">
                <h6 class="font-weight-bold text-right">NGUYEN XUAN TUNG</h6>
                <h5 class="text-right">STK: 1903 431 5916 014</h5>
            </div>
        </div>
    
        <div class="card-wrapper ">
            <div class="gift huong">
                <img class="mb-5" width="120px" src="/assets/imgs/bank2.jpg" alt="" srcset="">
                <h6 class="font-weight-bold text-right">DINH THI HUONG</h6>
                <h5 class="text-right">STK: 0451000451917</h5>
            </div>
        </div>
    </div>
  
</div>