<div class="container ">
    <h2 class="font-weight-bold text-center" style="  font-family: 'Dancing Script', cursive;">Our story...</h2>
  <div class="text-center">
    <img class="mb-3" src="/assets/imgs/venz1.png" style="    filter: invert(1);    width: 125px;" alt="" srcset="">
  </div>   
    <p class="text-center">Lưu giữ từng khoảnh khắc</p>
    <ul class="timeline">
        <li intersectionObserver [intersectionDebounce]="500" (visibilityChange)="onVisibilityChanged($event)">
            <h3>First know (Dec-2014)</h3>
            <p>Chưa từng nghĩ sẽ yêu và lấy một người quen qua mạng, nhưng hoá ra đó lại là câu chuyện của tụi mình^^. Anh biết mình qua phòng chat tiếng Anh trên zalo, add zalo mình, chẳng biết cố tình hay vô tình còn mình thì đích thị là vô tình nhấn nút “accept”. Ngờ đâu cú nhấn nút định mệnh đã buộc chặt số phận hai kẻ xa lạ kể từ đó =))</p>
        </li>
        <li intersectionObserver [intersectionDebounce]="500" (visibilityChange)="onVisibilityChanged($event)">
            <h3>First meet & First date (Aug-2015)</h3>
            <p>Một ngày tháng 8, đúng kiểu cọc đi tìm trâu, mình đề xuất lên trường anh gặp anh, trước khi anh sang Brunei 4 tháng. 3 chặng xe buýt từ Kinh tế quốc dân lên FPT. Bước xuống xe, cảm giác vừa lạ vừa quen, người con trai mình từng nói chuyện suốt 6,7 tháng trời vốn chỉ được mường tượng qua những tấm ảnh giờ xuất hiện trước mặt mình bằng da bằng thịt. Chúng mình đã nắm tay nhau trên tầng thượng của toà nhà nhìn ngắm đại lộ Thăng long chạy dài cả dòng xe cộ lấp lánh. Đẹp và Hạnh phúc.</p>
        </li>
        <li intersectionObserver [intersectionDebounce]="500" (visibilityChange)="onVisibilityChanged($event)">
            <h3>Grow up together</h3>
            <p>7 năm bên nhau, chúng mình là tri kỉ của nhau. 2 tính cách đối lập lại hoà hợp nhau đến lạ kì. Có lẽ vì anh là người luôn bao dung với tất cả sự sốc nổi cố chấp của mình. Mình dạy anh nấu ăn, anh dạy mình mọi thứ về máy móc, và… cả cách lắng nghe người khác. Mình chỉ cảm thấy biết ơn vì tất cả những gì anh đã làm cho mình suốt 7 năm qua. </p>
        </li>
        <li intersectionObserver [intersectionDebounce]="500" (visibilityChange)="onVisibilityChanged($event)">
            <h3>Engagement</h3>
            <p>Chúng mình quyết định về chung một nhà vào tháng 10 năm ngoái. Do dịch bệnh nên tiệc cưới được hoãn </p>
        </li>
        
    </ul>



</div>