<div class="container ">
    <h1 class="font-weight-bold text-center">Our story</h1>
  <div class="text-center">
    <img class="mb-3" src="/assets/imgs/venz1.png" style="    filter: invert(1);    width: 125px;" alt="" srcset="">
  </div>   
    <p class="text-center">Lưu giữ từng khoảnh khắc</p>
    <ul class="timeline">
        <li intersectionObserver [intersectionDebounce]="500" (visibilityChange)="onVisibilityChanged($event)">
            <h3>2001</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </li>
        <li intersectionObserver [intersectionDebounce]="500" (visibilityChange)="onVisibilityChanged($event)">
            <h3>2001</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </li>
        <li intersectionObserver [intersectionDebounce]="500" (visibilityChange)="onVisibilityChanged($event)">
            <h3>2001</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </li>
        <li intersectionObserver [intersectionDebounce]="500" (visibilityChange)="onVisibilityChanged($event)">
            <h3>2001</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </li>
        <li intersectionObserver [intersectionDebounce]="500" (visibilityChange)="onVisibilityChanged($event)">
            <h3>2001</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </li>
    </ul>



</div>