<div  [class.hide]="loading$ | async" class="loading">
  <span>T</span> <div class="heart"></div> <span>H</span>
</div>


<!-- <header class="d-none d-lg-block">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center py-1  ">

      <nav class="my-2 my-md-0 mr-md-3 ml-auto">
        <a class="p-2 font-weight-bold text-uppercase" href="#">HOME</a>
        <a class="p-2 font-weight-bold text-uppercase" href="#">EVENT</a>
        <a class="p-2 font-weight-bold text-uppercase" href="#">STORY</a>
        <a class="p-2 font-weight-bold text-uppercase" href="#">GALERRY</a>
      </nav>
    </div>
  </div>
</header> -->




<section class="parallax snow">
  <div class="back-drop"></div>

  <div class="save-the-date container  position-relative ">
    <div *ngIf="isShowInfo" class="save-the-date-wrap text-white">

        <h2 class="name tung">Xuân Tùng</h2>
        <span class="name">&</span>
        <h2 class="name huong"> Đinh Hường</h2>
        <div class="date d-inline-flex align-items-center py-1 font-weight-bold">
          <span class="swirl_left"></span>08 - 05 - 2022<span class="swirl_right"></span>
        </div>
        <!-- <app-count-down class="text-hightlight  mb-2"> </app-count-down> -->

    </div>

  </div>

  <div class="custom-shape-divider-bottom-1648958845">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
       d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25" class="shape-fill p1"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5" class="shape-fill p2"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <!-- <video class="save-video" src="/assets/save.webm" autoplay muted loop controls="false"></video> -->

</section>

<section class="main-section py-5 position-relative">
  <div class="flower one"></div>
  <div class="flower two  d-none d-md-block"></div>
  <app-intro></app-intro>
</section>

<div class="parallax-1">
  <div class="back-drop"></div>
  <div class="container text-center py-5 position-relative" style="min-height: 360px;">
    <h3 class="text-hightlight mb-2">Trân trọng kính mời <br> </h3>
    <h5 class="mb-4">Tới dự lễ thành hôn của 2 chúng tôi</h5>
    <img class="mb-3" src="/assets/imgs/venz1.png" width="125" alt="" srcset="">
    <h6>Vào ngày</h6>
    <h1 class="text-hightlight ">08 . Tháng 05 . 2022</h1>
    <h6><i>(08 tháng 04 - Âm lịch)</i></h6>
    <img class="mb-5" src="/assets/imgs/venz5.png" width="125" alt="" srcset="">

    <!-- <h6 class="mb-4">COUNT DOWN TO OUR WEDDING</h6>
    <app-count-down class=" mb-2"> </app-count-down> -->
    <!-- <app-count-down class="text-hightlight  mb-2"> </app-count-down> -->
    <!-- <div class="row">
      <div class="col-sm-6">
        <h3 class="font-weight-bold">Nhà trai</h3>
        <h5>Ngõ 24 Phạm Văn Đồng - TP. Phổ Yên - Thái Nguyên</h5>
        <h5>Hotline: 0974 800 599</h5>
      </div>
      <div class="col-sm-6">
        <h3 class="font-weight-bold">Nhà gái</h3>
        <h5>Thôn Đới Khê - Xã Đặng Lễ - Huyện Ân Thi - Hưng Yên </h5>
        <h5>Hotline: 0332 761 752</h5>
      </div>
    </div> -->

    <!-- <p>Trân trọng kính mời bạn đến dự bữa tiệc chung vui cùng gia đình chung tôi tại nhà riêng</p> -->
    <!-- <h1 class="text-hightlight mb-2">Bữa tiệc sẽ diễn ra sau ...</h1> -->
    <!-- <app-count-down class="text-hightlight mb-2"> </app-count-down> -->
  </div>
</div>



<section class="home-info position-relative">
  <div class="custom-shape-divider-bottom-1648958845" style="    bottom: 99%;">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
       d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25" class="shape-fill p1"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5" class="shape-fill p2"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <div class="container">

    <div class="row no-gutters">
      <div class="col-sm-6">
        <div class="home-info-box one">
          <h4 class="font-weight-bold">Nhà trai</h4>
          <img  width="100" class="sep" src="/assets/imgs/venz4.png" alt="sep">
          <p>Ngõ 24 Phạm Văn Đồng - TP. Phổ Yên - Thái Nguyên</p>
          <p>Hotline: 0974 800 599</p>
          <a class="btn btn-light btn-sm btn-primary" href="https://goo.gl/maps/v7iFtwZvcmisepCs5">Chỉ đường</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="home-info-box two">
          <h4 class="font-weight-bold">Nhà gái</h4>
          <img width="100" class="sep" src="/assets/imgs/venz4.png" alt="sep" >
          <p>Thôn Đới Khê - Xã Đặng Lễ - Huyện Ân Thi - Hưng Yên </p>
          <p>Hotline: 0332 761 752</p>
          <a class="btn btn-light btn-sm btn-primary" href="https://goo.gl/maps/SSYsiBDWmbEGjjMg9">Chỉ đường</a>
        </div>
      </div>
    </div>
   
  </div>
</section>

<section class="d-flex flex-column justify-content-center align-items-center py-3" style="background: #c77d31;color: white;">
  <h5 class="mb-4">COUNT DOWN TO OUR WEDDING</h5>
      <app-count-down class=" mb-2"> </app-count-down>
</section>


<section class="main-section py-5">
  <app-our-story></app-our-story>
</section>




<!-- <section class="location-section py-5">

  <div class="back-drop"></div>
  <div class=" text-center position-relative ">
    <h1 class="font-weight-bold">Địa điểm tổ chức</h1>
    
    <div class="row no-gutters">
      <div class="col-sm-7">
        <h5 class="text-hightlight">Tại nhà trai</h5>
        <h5 >Ngõ 24, đường Phạm Văn Đồng, Tx.Phổ Yên, Tỉnh Thái Nguyên</h5>
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d928.5061105763773!2d105.8666908291914!3d21.42828424751327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x133d0c9cc9e4a8a0!2zMjHCsDI1JzQxLjgiTiAxMDXCsDUyJzAyLjEiRQ!5e0!3m2!1svi!2s!4v1636726936518!5m2!1svi!2s"
          width="350" height="350" style="border:0;border-radius: 50% 50% 14px 50%;    border: 1px dashed gray;  padding: 16px;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="col-sm-5">
     
        </div>
    </div>

  </div>
</section> -->



<section class="main-section py-5">
  <app-gallery></app-gallery>
</section>

<section class="main-section py-5">
  <app-love-gift></app-love-gift>
</section>

<footer style="background-color: #fafafa;">
  <div class="row no-gutters">
    <div class="col-sm-5 d-flex align-items-center justify-content-center">
      <h1 class="text-center" style="  font-family: 'Great Vibes', cursive; font-size: 50px; ">Thank you</h1>
    </div>
    <div class="col-sm-7 thank-you"></div>
  </div>
</footer>


