<header>
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center py-1  ">
      <img class="my-0 mr-md-auto font-weight-normal" width="350" src="assets/imgs/our_wedding.png" alt="label">

      <!-- <h5 class="my-0 mr-md-auto font-weight-normal">T❤H Wedding</h5> -->
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 font-weight-bold text-uppercase" href="#">HOME</a>
        <a class="p-2 font-weight-bold text-uppercase" href="#">EVENT</a>
        <a class="p-2 font-weight-bold text-uppercase" href="#">STORY</a>
        <a class="p-2 font-weight-bold text-uppercase" href="#">GALERRY</a>
      </nav>
    </div>
  </div>
</header>




<section class="parallax snow">
  <div class="back-drop"></div>
  
  <div class="save-the-date container  position-relative ">
    <div class="save-the-date-wrap row pt-5 align-seft-center text-white" >
     
      <div class="col-sm text-center ">
        <div class="date border-bottom border-top d-inline-flex align-items-center py-1 font-weight-bold">
          <span
            class="swirl_left"></span>01 DEC 2021<span class="swirl_right"></span></div>
        <h2 class="name mt-3">Xuân Tùng <span>&</span> Đinh Hường</h2>
       
        <h1 class="label d-none d-md-block">Save the date</h1>

            <app-count-down class="text-hightlight  mb-2"> </app-count-down>
      </div>
       <div class="col-sm h-100"></div>
    </div>

  </div>
</section>

<section class="main-section py-5">
  <div class="container text-center ">
    <h2 class="font-weight-bold" style="  font-family: 'Dancing Script', cursive;">Hành trình mới bắt đầu ..</h2>
    <img class="mb-3" src="/assets/imgs/venz1.png" style="    filter: invert(1);    width: 125px;" alt="" srcset="">

    <p> Vậy là đã 7 năm trôi qua kể từ khi chúng tôi quen biết nhau, một chặng đường mới sẽ bắt đầu và chúng tôi đều đã
      sẵn sàng ... <br>
      Chúng tôi muốn chia sẻ niềm vui này tới tất cả người thân, bạn bè mà chúng tôi quý mến. Ngày chúng tôi chính thức
      về chung một mái nhà.</p>

    <div class="ava-section d-flex justify-content-center pb-5 align-items-center">
      <div class="  px-2 mr-3  d-flex align-items-center flex-wrap">
        <div class="chu-re-label text-right mr-2">
          <small class="font-weight-bold  text-uppercase">Chú rể</small>
          <h5 style="  font-family:  'Great Vibes', cursive; font-size: 34px;color: #c67a2c;">Xuân Tùng</h5>
        </div>
        <img width="140" height="auto" class="mb-2 bg-gray rounded-circle ava"
          style="border: 1px dashed #aaaaaa;padding: 6px  ;" src="https://lh3.googleusercontent.com/cIEoWb-DHgD-Hio2THTjDHnagD1SLeJVN3tydmxUfuYoYQajqLRTWdusMDBOKNXrA9LfJ1VXqWJxL1wZnwmrLJO68AYJIIsQ4G7qvDx0m9eNr-odlYbveFygqSdITB2M4T2vDvTOLg=w2400" alt="chu-re">
      </div>
      <span style="  font-family: 'Great Vibes', cursive; font-size: 50px; ">&</span>


      <div class="  px-2 ml-3 d-flex align-items-center flex-wrap">
        <img width="140" height="auto" class="mb-2 bg-gray rounded-circle ava" src="https://lh3.googleusercontent.com/ToNOwSbQG2dd0B5A4OK8Mo-RoaUrmm4Gj6uiuaaZbzCKdcMWM0R_AS3Ls4mr4bnak2rcBz2n3A3EyBgnAne2hVTdjsaiZlztzEzAYGogmh6oMnOqz6o0DQ8Z84z1wFT_d2fnJ04PtA=w2400"
          alt="co-dau" style="border: 1px dashed #aaaaaa;padding: 6px  ;">
        <div class="co-dau-label text-left ml-2">
          <small class="font-weight-bold text-uppercase">Cô Dâu</small>
          <h5 style="  font-family:  'Great Vibes', cursive; font-size: 34px;color: #c67a2c;">Đinh Hường</h5>
        </div>
      </div>

    </div>

  </div>
</section>

<div class="parallax-1">
  <div class="back-drop"></div>
  <div class="container text-center py-5 position-relative" style="min-height: 360px;">
    <h3 class="text-uppercase font-weight-bold">Xin trân trọng <br> </h3>
    <h4>Kính mời mọi người đến dự bữa tiệc chung vui cùng gia đình tại nhà riêng</h4>
    <img class="mb-3" src="/assets/imgs/venz1.png" width="125" alt="" srcset="">
    <h6>Vào ngày</h6>
    <h1 class="text-hightlight ">28 . Tháng 12 . 2022</h1>
    <h6><i>(21 tháng 12 - Âm lịch)</i></h6>
    <img class="mb-5" src="/assets/imgs/venz4.png" width="125" alt="" srcset="">

    <!-- <p>Trân trọng kính mời bạn đến dự bữa tiệc chung vui cùng gia đình chung tôi tại nhà riêng</p> -->
    <h1 class="text-hightlight mb-2">Bữa tiệc sẽ diễn ra sau ...</h1>
    <app-count-down class="text-hightlight mb-2"> </app-count-down>
  </div>
</div>


<section class="location-section py-5">

  <div class="back-drop"></div>
  <div class=" text-center position-relative ">
    <h1 class="font-weight-bold">Địa điểm tổ chức</h1>
    
    <div class="row no-gutters">
      <div class="col-sm-7">
        <h5 class="text-hightlight">Tại nhà trai</h5>
        <h5 >Ngõ 24, đường Phạm Văn Đồng, Tx.Phổ Yên, Tỉnh Thái Nguyên</h5>
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d928.5061105763773!2d105.8666908291914!3d21.42828424751327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x133d0c9cc9e4a8a0!2zMjHCsDI1JzQxLjgiTiAxMDXCsDUyJzAyLjEiRQ!5e0!3m2!1svi!2s!4v1636726936518!5m2!1svi!2s"
          width="350" height="350" style="border:0;border-radius: 50% 50% 14px 50%;    border: 1px dashed gray;  padding: 16px;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="col-sm-5">
     
        </div>
    </div>

  </div>
</section>

<section class="main-section py-5">
  <app-our-story></app-our-story>
  <!-- <div class="container text-center pt-5">
    <h1 class="font-weight-bold">Our story</h1>
    <p> Vậy là đã 7 năm trôi qua kể từ khi chúng tôi quen biết nhau, một chặng đường mới sẽ bắt đầu và chúng tôi đều đã sẵn sàng ... <br>
    Chúng tôi muốn chia sẻ niềm vui này tới tất cả người thân, bạn bè mà chúng tôi yêu mến. Ngày chúng tôi chính thức về chung một mái nhà.</p>

   

  </div> -->
</section>

<section class="main-section py-5">
  <app-gallery></app-gallery>
 
</section>

<section style="background-color: #fafafa;">
  <div class="row no-gutters">
    <div class="col-sm-5 d-flex align-items-center justify-content-center"><h1 class="text-center" style="  font-family: 'Great Vibes', cursive; font-size: 50px; ">Thank you</h1></div>
    <div class="col-sm-7 thank-you"></div>
  </div>
</section>