<header class="d-none d-lg-block">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center py-1  ">
      <!-- <img class="my-0 mr-md-auto font-weight-normal" width="350" src="assets/imgs/our_wedding.png" alt="label"> -->

      <!-- <h5 class="my-0 mr-md-auto font-weight-normal">T❤H Wedding</h5> -->
      <nav class="my-2 my-md-0 mr-md-3 ml-auto">
        <a class="p-2 font-weight-bold text-uppercase" href="#">HOME</a>
        <a class="p-2 font-weight-bold text-uppercase" href="#">EVENT</a>
        <a class="p-2 font-weight-bold text-uppercase" href="#">STORY</a>
        <a class="p-2 font-weight-bold text-uppercase" href="#">GALERRY</a>
      </nav>
    </div>
  </div>
</header>




<section class="parallax snow">
  <div class="back-drop"></div>

  <div class="save-the-date container  position-relative ">
    <div class="save-the-date-wrap row mt-2 mb-4 align-seft-center text-white">

      <div class="col-sm text-center ">
        <div class="date border-bottom border-top d-inline-flex align-items-center py-1 font-weight-bold">
          <!-- <span class="swirl_left"></span>01 - 12 - 2021<span class="swirl_right"></span> -->
        </div>
        <h2 class="name mt-3">Tùng <span>❤</span> Hường</h2>
        <app-count-down class="text-hightlight  mb-2"> </app-count-down>

      </div>
      <div class="col-sm h-100"></div>
    </div>

  </div>

  <div class="custom-shape-divider-bottom-1648958845">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25" class="shape-fill"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5" class="shape-fill"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <!-- <video class="save-video" src="/assets/save.webm" autoplay muted loop controls="false"></video> -->

</section>

<section class="main-section py-5">
  <div class="container text-center ">
    <h2 class="font-weight-bold mb-5" style="  font-family: 'Dancing Script', cursive;">Chàng trai bên em năm 18 tuổi
      nay đã trở thành người đàn ông của đời em,<br> hôm nay và mãi về sau…</h2>
    <img class="mb-3" src="/assets/imgs/venz1.png" style="    filter: invert(1);    width: 125px;" alt="" srcset="">

    <!-- <p> Vậy là đã 7 năm trôi qua kể từ khi chúng tôi quen biết nhau, một chặng đường mới sẽ bắt đầu và chúng tôi đều đã
      sẵn sàng ... <br>
      Chúng tôi muốn chia sẻ niềm vui này tới tất cả người thân, bạn bè mà chúng tôi quý mến. Ngày chúng tôi chính thức
      về chung một mái nhà.</p> -->

    <div class="ava-section d-flex justify-content-center pb-5 align-items-center">
      <div class="  px-2 mr-3  d-flex align-items-center flex-wrap">
        <div class="chu-re-label text-right mr-2">
          <small class="font-weight-bold  text-uppercase">Chú rể</small>
          <h5 style="  font-family:  'Great Vibes', cursive; font-size: 34px;color: #c67a2c;">Xuân Tùng</h5>
        </div>
        <img width="140" height="auto" class="mb-2 bg-gray rounded-circle ava"
          style="border: 1px dashed #aaaaaa;padding: 6px  ;"
          src="https://lh3.googleusercontent.com/cIEoWb-DHgD-Hio2THTjDHnagD1SLeJVN3tydmxUfuYoYQajqLRTWdusMDBOKNXrA9LfJ1VXqWJxL1wZnwmrLJO68AYJIIsQ4G7qvDx0m9eNr-odlYbveFygqSdITB2M4T2vDvTOLg=w2400"
          alt="chu-re">
      </div>
      <span style="  font-family: 'Great Vibes', cursive; font-size: 50px; ">&</span>


      <div class="  px-2 ml-3 d-flex align-items-center flex-wrap">
        <img width="140" height="auto" class="mb-2 bg-gray rounded-circle ava"
          src="https://lh3.googleusercontent.com/ToNOwSbQG2dd0B5A4OK8Mo-RoaUrmm4Gj6uiuaaZbzCKdcMWM0R_AS3Ls4mr4bnak2rcBz2n3A3EyBgnAne2hVTdjsaiZlztzEzAYGogmh6oMnOqz6o0DQ8Z84z1wFT_d2fnJ04PtA=w2400"
          alt="co-dau" style="border: 1px dashed #aaaaaa;padding: 6px  ;">
        <div class="co-dau-label text-left ml-2">
          <small class="font-weight-bold text-uppercase">Cô Dâu</small>
          <h5 style="  font-family:  'Great Vibes', cursive; font-size: 34px;color: #c67a2c;">Đinh Hường</h5>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="main-section py-5">
  <app-our-story></app-our-story>
  <!-- <div class="container text-center pt-5">
    <h1 class="font-weight-bold">Our story</h1>
    <p> Vậy là đã 7 năm trôi qua kể từ khi chúng tôi quen biết nhau, một chặng đường mới sẽ bắt đầu và chúng tôi đều đã sẵn sàng ... <br>
    Chúng tôi muốn chia sẻ niềm vui này tới tất cả người thân, bạn bè mà chúng tôi yêu mến. Ngày chúng tôi chính thức về chung một mái nhà.</p>

   

  </div> -->
</section>

<div class="parallax-1">
  <div class="back-drop"></div>
  <div class="container text-center py-5 position-relative" style="min-height: 360px;">
    <h3 class="text-uppercase font-weight-bold">TRÂN TRỌNG KÍNH MỜI <br> </h3>
    <h4>Tới dự lễ thành hôn của 2 chúng tôi</h4>
    <img class="mb-3" src="/assets/imgs/venz1.png" width="125" alt="" srcset="">

   
    <h6>Vào ngày</h6>
    <h1 class="text-hightlight ">08 . Tháng 05 . 2022</h1>
    <h6><i>(08 tháng 04 - Âm lịch)</i></h6>
    <img class="mb-5" src="/assets/imgs/venz4.png" width="125" alt="" srcset="">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="font-weight-bold">Nhà trai</h3>
        <h5>Ngõ 24 Phạm Văn Đồng - TP.Phổ Yên - Thái Nguyên</h5>
        <h5>Hotline: 0974800599</h5>
      </div>
      <div class="col-sm-6">
        <h3 class="font-weight-bold">Nhà gái</h3>
        <h5>Thôn Đới Khê - Xã Đặng Lễ - Huyện Ân Thi - Hưng Yên </h5>
        <h5>Hotline: 0332761752</h5>
      </div>
    </div>

    <!-- <p>Trân trọng kính mời bạn đến dự bữa tiệc chung vui cùng gia đình chung tôi tại nhà riêng</p> -->
    <!-- <h1 class="text-hightlight mb-2">Bữa tiệc sẽ diễn ra sau ...</h1> -->
    <!-- <app-count-down class="text-hightlight mb-2"> </app-count-down> -->
  </div>
</div>


<!-- <section class="location-section py-5">

  <div class="back-drop"></div>
  <div class=" text-center position-relative ">
    <h1 class="font-weight-bold">Địa điểm tổ chức</h1>
    
    <div class="row no-gutters">
      <div class="col-sm-7">
        <h5 class="text-hightlight">Tại nhà trai</h5>
        <h5 >Ngõ 24, đường Phạm Văn Đồng, Tx.Phổ Yên, Tỉnh Thái Nguyên</h5>
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d928.5061105763773!2d105.8666908291914!3d21.42828424751327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x133d0c9cc9e4a8a0!2zMjHCsDI1JzQxLjgiTiAxMDXCsDUyJzAyLjEiRQ!5e0!3m2!1svi!2s!4v1636726936518!5m2!1svi!2s"
          width="350" height="350" style="border:0;border-radius: 50% 50% 14px 50%;    border: 1px dashed gray;  padding: 16px;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="col-sm-5">
     
        </div>
    </div>

  </div>
</section> -->



<section class="main-section py-5">
  <app-gallery></app-gallery>

</section>

<section style="background-color: #fafafa;">
  <div class="row no-gutters">
    <div class="col-sm-5 d-flex align-items-center justify-content-center">
      <h1 class="text-center" style="  font-family: 'Great Vibes', cursive; font-size: 50px; ">Thank you</h1>
    </div>
    <div class="col-sm-7 thank-you"></div>
  </div>
</section>