.timer {
    text-align: center;
    font-size: 2rem;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
      padding-bottom: 3rem;
     }
  }
  .timer span {
    font-size: 1.85rem;
    // border: 1px solid white;
    // background-color: rgba(0,0,0,.3);
    border-radius: 16px;
    width: 70px;
    height: auto;
    text-align: center;
    line-height: 90px;
    margin-left: 1rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../../../assets/imgs/time.png);
    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    font-weight: 600;
    width: 55px;
    height: 52px;
    line-height: 57px;
    margin-left: 0.5rem;
     }
  }