<div class="timer">
    <div class="box">
        <span id="days">{{daysToDday}}</span>
        <div class="label">ngày</div>
    </div>

    <div class="box">
        <span id="hours">{{hoursToDday}} </span>
         <div class="label">giờ</div>
    </div>


    <div class="box">
        <span id="minutes">{{minutesToDday}}</span> 
        <div class="label">phút</div>
    </div>


    <div class="box">
        <span id="seconds">{{secondsToDday}} </span> 
        <div class="label">giây</div>
    </div>





</div>